:root {
    --color: rgba(135, 137, 192, 1);
    --lightest: rgba(69, 240, 223, 1);
    --lit: rgba(194, 202, 232, 1);
    --lit1: rgba(131, 128, 182, 1);
    --maindark: rgba(17, 29, 74, 1);    
}

html, body {
	height: 100%;
}
.hero-section {
    /* height: 100%;	 */
}
.ct-book {
	top: 10rem;
    position: relative;
    text-align: center;
    color: black;
    background: transparent;
    font-size: 14px;
    margin: 0 auto;
}
#servicescarousel .carousel-caption {
	text-align: left;
}
.services-text-content {
	margin-top: 2em;
}
.pt-3m {
	margin-top: 0;
    padding-top: 3em;
}
.ct-book span {
    display: block;
}

#testomonialslider {
	width: 100%;
}
#testomonialslider .carousel-item {
	min-height: 300px;
	width: 100%;
}
#testomonialslider h4 {
	color: black;
}
#testomonialslider .carousel-caption {
	padding-top: 10px;
    padding-bottom: 5px;	
    bottom: 10px;
}
#top {
}

#top h1 {
	color: var(--maindark);
}
#top h4 {
	color: var(--lit1);
}
nav.navbar {
	background-color: var(--color);
	padding: 0;
    min-height: 40px;
    color: white;
    border-radius: 10px;
    padding-left: 1em;
}
#testimonialsection, 
#schedulesection {
	background-color: #f7f7f7;
}

.logo-div {
	background-image: url(http://3lyon.com/wp-content/uploads/2018/06/3LYONlogo-1-e1529511493649.jpg);
    width: 100px;
    height: 50px;
    display: inline-block;
    background-size: 100px;
    background-position: 0px center;
    border-radius: 5px;
    position: relative;
    right: -23px;
}
.navbar-brand {
	padding-bottom: 0;
}
.navbar-light .navbar-toggler-icon {

}
#servicescarousel p {
	color: white;
}
.blue-overlay {
    width: 100%;
    height: 100%;
    background-color: #6495edad;
    position: absolute;
    top: 0;
    left: 0;
}

h1, h2 {
	font-family: 'Lato', cursive;
}
h4, p {
	font-family: 'Lato', sans-serif;
}
.header-logo {
    width: 120px;   
    margin: 35px 0 1px 2em;
}
header .container {
    width: 100%;
    margin: 0;
    padding: .5em .125em;
}
.hero-section .carousel {
    /* margin-left: -15px;
    margin-right: -15px; */
    margin-top: 1em;
}
.hero-section .carousel img {
    width: 100%;
}
.menu-list li {
    margin: 0 .25em;
}
.contact-person {
    
    padding: 15px;
}
.contact-person span {
    color: red;
}
.contact-person img {
    width: 80px;
    float: right;
}
.btn-ask {
    margin: 5px 0;
}
.dl-horizontal dt {
    font-weight: 700;
}
.dl-horizontal p {
    margin-bottom: 0.2em;
}
.dl-horizontal img {
    width: 25px;
}
.dl-horizontal dd {
    font-size: larger;
}
.classic-textwidget {
    border: solid 1px grey;
    color: #2d3e8e;
    font-weight:bold;
    padding: 5px;
    margin: 2px 0;
}
#logo-carousel {
    margin: 2em 0;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    padding: 1em 0;    
}

.front-page-content {
    margin: 3em 0;
}


.col-br {
    border-radius: 4px;
    margin-top: .6em;
}
.col-br-sh {
    box-shadow: 0 5px 5px #ccc;
    border: solid .5px #c3c3c3;
}
.col-br-ol {
    border: solid 2px #2d3e8e;
}
.col-br p {
    width: 60%;
}
.col-br figure {
    float: right;
    width: 70px;
    background: #7376df;
    border-radius: 90%;
    height: 70px;
}
.col-br i {
    background-size: cover;
    display: inline-block;
    width: 90%;
    height: 90%;
    background-position: 4px top; 
    background-repeat: no-repeat;
}
.report-box i{
    background-image: url('../images/document.svg')
}
.book-a-service-box i{
    background-image: url('../images/exhaust.png')
}
.got-new-car-box i{
    background-image: url('../images/mobile-phone.svg')
}
.col-icon-fb {
    margin-top: 1em;
    background-color: #cee8fa;
    padding: .5em;
    border-radius: 4px;
}
.col-icon-fb figure {
    text-align: left;
    display: inline;
}
.col-icon-fb span{
    font-weight: bold;
}
.col-icon-fb img{
    width: 30px;
    margin-left: .2em;
}
#contactsection h5,
h5.card-title,
.col-br h5 {
    color: #2d3e8e;
}
.stripes-c {
    width: 70px;
    display: block;
}
.pgra  { 
    max-width: 15px; 
    height: 100px; 
    -webkit-transform: skew(20deg); 
    -moz-transform: skew(20deg); 
    -o-transform: skew(20deg); 
    float: left;
    margin: 0 1px;
    top: 10px;
    left: -20px;
    position: relative; 
    opacity: 0.5;
} 
.pgra:nth-child(1) {
    background-color: rgb(225, 222, 245);
    width: 5px;
}
.pgra:nth-child(2) {
    background-color: rgb(250, 117, 117);
    width: 10px
}
.pgra:nth-child(3) {
    background-color: rgb(190, 178, 216);
    width: 15px;
}

@media (min-width: 320px) {


}
@media (min-width: 576px) {

    .carousel-item img {
        border-radius: 5px;
    }

    .card-deck .card {
        margin-left: 7.5px;
        margin-right: 7.5px;
    }
}